* {
  border: none;
  box-shadow: none;
  outline: none;
}

window {
  font-size: 14px;
  background-color: transparent;
  /* border-radius: 0px; */
  opacity: 1.0;
  padding: 10px 10px 10px 10px;
}

#outer-box {
  margin: 10px 10px 10px 10px;
  opacity: 1.0;
  background: rgba(30, 30, 30, 255);
}

#inner-box {
  background: rgba(0, 0, 0, 255);
  margin: 0px;
  opacity: 1.0;
}

#entry {
  padding: 5px 10px;
}

#entry #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  /* color: grey; */
}

#entry:selected {
  /* background: rgba(0, 0, 0, 255); */
  background-color: rgba(100, 100, 100, 255);
}

#entry:selected #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  color: white;
}

#input {
  background: rgba(30, 30, 30, 255);
  margin: 0px 5px 0px 20px;
  padding: 5px;
  color: white;
}

#image {
  margin-left: 20px;
  margin-right: 20px;
}

#scroll {
  margin: 0px;
}
